.accordion-item__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-item__title {
  font-size: bold;
  text-transform: capitalize;
}

.accordion-item__icon {
  transition: all 0.3s;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion-item.show .accordion-item__icon {
  transform: rotate(180deg);
}

.accordion-item__body {
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
